
      @import url(https://fonts.googleapis.com/css?family=Hind);

      body {
        font-family: 'Hind', sans-serif;
        color: black;
      }

      #shoppingCartContainer {
        
        background-color: cornflowerblue;
        float: left;
        border-radius: 10px;
        
      }

     
      #shoppingCart li {
        background-color: skyblue;
        width: 50%;
    
        
      }

      #productTable{
        border: 1px solid black;
        float: left;
        width: 100%;
      }

      #productTable input {
        width: 60px;
      }
  